<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="plugin/jquery/jquery-ui.min.css">
    <link href="plugin/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="plugin/angular/datepicker/styles/index.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="plugin/bootstrap/dropdown/betterdropdown.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet" media="screen">
    <link href="css/timeline.css" rel="stylesheet" media="screen">
    <title>T 매니저 - Timeline</title>
</head>
<body ng-app="onemanager">
<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">T Manager</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="#">Timeline</a></li>
            </ul>

        </div>
    </div>
</header>
<br><br><br><br>

<div class="container" ng-controller="timetable">
    <div class="row">
        <div class="col-md-4">
            <div class="dropdown">
                <h4 class="dropdown-toggle pointer">
                    {{(start|date:"yyyy년 M월 d일 ~")||"프로젝트 기간을 "}} {{(end|date:"yyyy년 M월 d일")||"선택해 주세요!"}}
                </h4>

                <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                    <div date-range start="start" end="end"></div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-4 col-md-4">
            <div class="pull-right">
                <span ng-click="style.minus()" class="btn btn-danger">새 리스트 추가 +</span>
                <span ng-click="style.plus()" class="btn btn-danger">간격 +</span>
                <span ng-click="style.minus()" class="btn btn-danger">간격 -</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- 테이블 -->
            <table id="table" class="table none-select cursor" ng-mousedown="mousedown($event)">
                <thead>
                <tr>
                    <th class="left-header"></th>
                    <th ng-repeat="agent in agents">
                        <div>
                            <div ng-show="!agent.modify">
                                <span ng-click="toggle(agent);stop($event)">{{agent.name}}</span>
                                <span ng-click="newSchedule(agent)">+</span></div>
                            <input ng-click="stop($event)" ng-enter="toggle(agent);stop($event)" ng-show="agent.modify"
                                   class="form-control"
                                   ng-model="agent.name">
                        </div>


                        <div ng-repeat="schedule in agent.schedule"
                             ng-click="showSchedule(schedule)"
                             ng-style="style.schedule(schedule)" class="schedule">

                            <div><span ng-click="toggle(schedule);stop($event)" ng-show="!schedule.modify"><h4>
                                {{schedule.head||"제목"}}</h4></span>
                                <input ng-enter="toggle(schedule);stop($event)" ng-click="stop($event)"
                                       ng-show="schedule.modify"
                                       class="form-control" ng-model="schedule.head">
                            </div>

                            <span class="schedule-time">{{schedule.startTime|date:"M월 d일 hh:mm"}}부터<br>
                                {{schedule.endTime|date:"M월 d일 hh:mm"}}까지</span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="day in days">
                    <th class="left-header" ng-click="weekToggle(day)">Day{{days.indexOf(day)+1}}
                        ({{day.date|date:"M-d"}})
                    </th>
                    <td ng-style="style.td()" ng-repeat="agent in agents"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal Show-->
    <div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <div><span ng-click="toggle(selectedHead);stop($event)"
                                   ng-show="!selectedHead.modify">{{selectedSchedule.head||"제목"}}</span>
                            <input ng-click="stop($event)" ng-enter="toggle(selectedHead);stop($event)"
                                   ng-show="selectedHead.modify"
                                   class="form-control" ng-model="selectedSchedule.head">
                        </div>
                    </h4>
                </div>
                <div class="modal-body">
                    <div><span ng-click="toggle(selectedBody);stop($event)"
                               ng-show="!selectedBody.modify">{{selectedSchedule.body||"내용"}}</span>

                        <div ng-show="selectedBody.modify">
                        <textarea ng-click="stop($event)"
                                  class="form-control"
                                  ng-model="selectedSchedule.body">{{selectedSchedule.body||"내용"}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteSelected()">삭제</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="plugin/jquery/jquery.js"></script>
<script src="plugin/jquery/jquery-ui.min.js"></script>
<script src="plugin/angular/angular.js"></script>
<script src="plugin/angular/ui-bootstrap-tpls.min.js"></script>
<script src="plugin/bootstrap/bootstrap.min.js"></script>
<script src="plugin/bootstrap/dropdown/betterdropdown.js"></script>
<!--<script src="plugin/jquery/zebra_pin.js"></script>-->
<!-- build:js module.min.js -->
<script src="plugin/angular/datepicker/scripts/datePicker.js"></script>
<script src="plugin/angular/datepicker/scripts/datePickerUtils.js"></script>
<script src="plugin/angular/datepicker/scripts/dateRange.js"></script>
<script src="plugin/angular/datepicker/scripts/input.js"></script>
<script src="js/timeline.js"></script>
</body>
</html>